.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 13px;
    background: black;
}

.accordion-item {
    padding: 5px;
    background: rgba(75, 87, 79, 0.356);
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

}
.accordion-question{
    cursor: pointer;
}
.open-accordion-question {
    cursor: pointer;
    text-decoration: underline
}