.menu-list-container {
    width: 30%;
}

.menu-item-list-container {
    list-style: none;
}

.expand-collapse-sign {
    cursor: pointer;
}

.menu-item-content {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
}